In [1]:
import pandas as pd
from datetime import datetime

In [2]:
data = pd.read_json('LocationHistory.json')

In [3]:
points = []

In [4]:
for point in data['locations']:
        if ( point['latitudeE7'] > 900000000 ):
            point['latitudeE7'] = (point['latitudeE7'] - 4294967296) / 10 ** 7
        else:
            point['latitudeE7'] = point['latitudeE7'] / 10 ** 7
        
        
        if ( point['longitudeE7'] > 900000000 ):
            point['longitudeE7'] = (point['longitudeE7'] - 4294967296) / 10 ** 7
        else:
            point['longitudeE7'] = point['longitudeE7'] / 10 ** 7
            
        point['timestampMs'] = datetime.fromtimestamp(int(point['timestampMs']) / 1000)
        points.append(point)

In [5]:
data = pd.DataFrame(points)

In [6]:
data.head()

,timestampMs,latitudeE7,longitudeE7,accuracy,activity,altitude,verticalAccuracy,velocity,heading
0,2014-12-04 22:24:58.361,51.534882,-0.222965,10,NaN,NaN,NaN,NaN,NaN
1,2014-12-05 07:44:03.269,51.530645,-0.225408,65,NaN,NaN,NaN,NaN,NaN
2,2014-12-05 07:49:45.698,51.533152,-0.209235,65,NaN,NaN,NaN,NaN,NaN
3,2014-12-05 07:50:45.730,51.533972,-0.205642,65,NaN,NaN,NaN,NaN,NaN
4,2014-12-05 12:42:29.745,51.494988,-0.127054,65,NaN,NaN,NaN,NaN,NaN

In [7]:
data.timestampMs[0] - data.timestampMs[10]

Timedelta('-3 days +12:08:37.903000')

In [8]:
time_between_pings = data.timestampMs.diff()

In [9]:
time_between_pings.min()

Timedelta('-1 days +23:06:00.055000')

In [10]:
time_between_pings = time_between_pings / pd.Timedelta('1 minute')

In [11]:
time_between_pings.median()

2.011083333333333

In [12]:
data.latitudeE7.isnull().sum()

0

In [13]:
data.longitudeE7.isnull().sum()

0

In [14]:
data.to_csv('location_data_3.csv')